{% if page.categories %}
  {% capture categories %}
    {% for category in page.categories %}
      <span class="label  label--category">{{ category }}</span>{% if forloop.last == false %},{% endif %}
    {% endfor %}
  {% endcapture %}
{% elsif page.category %}
  {% capture categories %}
    <span class="label  label--category">{{ page.category }}</span>
  {% endcapture %}
{% endif %}

{% assign words = page.content | number_of_words %}
{% if words < 360 %}
  {% assign reading_time = '1 min read' %}
{% else %}
  {% assign reading_time = words | divided_by:180 | append: ' min read' %}
{% endif %}

<small class="small  post-meta">
  {{ categories | append: "&nbsp;&middot;&nbsp;" }}<time datetime="{{ page.date | date_to_xmlschema }}" class="time">{{ page.date | date_to_string }}</time>{{ "&nbsp;&middot;&nbsp;" | append: reading_time }}
</small>