<a href="{{ include.link }}" class="card-link">
  <article class="card card--publication">
    <iframe
      src="{{ include.video }}"
      title="{{ include.video_title | default: 'YouTube video player' }}"
      frameborder="0"
      allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen>
    </iframe>

    <div class="card-body">
      <div class="card-header">
        <div>
          <b>{{ include.title }}</b><br>
          <small><i>{{ include.authors }}</i></small>
        </div>
        <img src="{{ include.icon }}" class="card-icon" alt="{{ include.icon_alt }}">
        </div>
        <!-- <br> -->

        <small class="small card-description">{{ include.description }}</small>
    </div>
  </article>
</a>
