---
layout: default
---

{% include site-header.html %}

<main class="main  container">

	<article class="article  article--post  content  typeset fade-in-up">

    <h1>{{ page.title }}</h1>
		{% include post-meta.html %}
    {{ content }}


    <script src="https://giscus.app/client.js"
        data-repo="Mikonooooo/Mikonooooo.github.io"
        data-repo-id="R_kgDOOQjyPg"
        data-category="General"
        data-category-id="DIC_kwDOOQjyPs4Cot7W"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="gruvbox_light"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>
  </article>

  

</main>

{% include site-footer.html %}
