---
layout: default
---

{% include site-header.html %}

<main class="main  container">

	<article class="article  article--post  content  typeset fade-in-up">
    <script type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS_CHTML">
    </script>
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']],
          processEscapes: true},
          jax: ["input/TeX","input/MathML","input/AsciiMath","output/CommonHTML"],
          extensions: ["tex2jax.js","mml2jax.js","asciimath2jax.js","MathMenu.js","MathZoom.js","AssistiveMML.js", "[Contrib]/a11y/accessibility-menu.js"],
          TeX: {
          extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"],
          equationNumbers: {
          autoNumber: "AMS"
          }
        }
      });
    </script>

    <h1>{{ page.title }}</h1>
		{% include post-meta.html %}
    {{ content }}


      <script src="https://giscus.app/client.js"
              data-repo="Mikonooooo/mikonooooo.github.io"
              data-repo-id="R_kgDOOQjyPg"
              data-category-id="DIC_kwDOOQjyPs4Cot7W"
              data-mapping="url"
              data-strict="0"
              data-reactions-enabled="0"
              data-emit-metadata="0"
              data-input-position="top"
              data-theme="gruvbox_light"
              data-lang="en"
              crossorigin="anonymous"
              async>
      </script>
  </article>

  

</main>

{% include site-footer.html %}
